.styledform {
  overflow: hidden;
}

.styledform label {
  font-size: 1em;
}

.form_hint {
  font-size: 11px;
}

.styledform ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0px;
  padding: 0px;
}

.styledform li {
  padding: 12px;
  border-bottom: 0px dotted #999;
  position: relative;
}

.styledform li:first-child {
    border-bottom: 1px solid #777;
}

.styledform li:last-child {
  border-top: 1px solid #aaa;
  border-bottom: 0px;
  padding: 10px 154px;
}

.styledform h2 {
  font-size: 2em;
  margin:0;
  display: inline;
}

.required_notification {
  font-size: 1em;
  color: #d45252;
  margin: 10px 0 0 0;
  display:inline;
  float:right;
}

.styledform label {
  width: 100px;
  margin-top: 3px;
  display:inline-block;
  float:left;
  padding:3px 20px;
  text-align: right;
}

.styledform input {
  height:20px;
  padding: 5px 10px 8px;
}

.styledform textarea {
  padding: 8px 10px 8px;
}

input:required, textarea:required {
  background: #fff url(/img/red_asterisk.png) no-repeat 98% center;
}

.styledform input:focus:invalid, .styledform textarea:focus:invalid { /* when a field is considered invalid by the browser */
  background: #fff url(/img/invalid.png) no-repeat 98% center;
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535
}

.styledform input:required:valid, .styledform textarea:required:valid { /* when a field is considered valid by the browser */
  background: #fff url(/img/valid.png) no-repeat 98% center;
  box-shadow: 0 0 5px #5cd053;
  border-color: #28921f;
}

.form_hint {
  background: #d45252;
  border-radius: 3px 3px 3px 3px;
  color: white;
  margin-left: 8px;
  padding: 1px 6px;
  z-index: 999; /* hints stay above all other elements */
  position: absolute; /* allows proper formatting if hint is two lines */
  display: none;
}

.form_hint::before {
  content: "\25C0"; /* left point triangle in escaped unicode */
  color:#d45252;
  position: absolute;
  top:1px;
  left:-6px;
}

.styledform input:focus + .form_hint {display: inline;}
.styledform input:required:valid + .form_hint {background: #28921f;} /* change form hint color when valid */
.styledform input:required:valid + .form_hint::before {color:#28921f;} /* change form hint arrow color when valid */

.styledform input, .styledform textarea {
  border:1px solid #aaa;
  box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
  border-radius: 2px;
}

.styledform input:focus, .styledform textarea:focus {
  background: #fff;
  border:1px solid #555;
  box-shadow: 0 0 3px #aaa;
}

.styledform input:focus, .styledform textarea:focus { /* add this to the already existing style */
  padding-right: 40px;
}

.styledform input, .styledform textarea { /* add this to the already existing style */
  -moz-transition: padding .25s ease-out;
  -webkit-transition: padding .25s ease-out;
  -o-transition: padding .25s ease-out;
  transition: padding .25s ease-out;
}

*:focus {
  outline: none;
}

#homewizstepone, #homewizsteptwo {
  height: 0px;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: height 1000ms ease-in-out, opacity 1000ms ease-in-out;
   -moz-transition: height 1000ms ease-in-out, opacity 1000ms ease-in-out;
   -o-transition: height 1000ms ease-in-out, opacity 1000ms ease-in-out;
   -ms-transition: height 1000ms ease-in-out, opacity 1000ms ease-in-out;
   transition: height 1000ms ease-in-out, opacity 1000ms ease-in-out;
}