/* CSS declarations go here */

/*
  Blue -- #0088CC; rgb(0, 136, 204);
  Green -- #51A351; rgb(81, 163, 81);
*/

body {
    background-color: #fff;
    color: #333333;
    font: 12px/18px Lucida Grande, Arial, Helvetica, Geneva, Verdana, sans-serif;
}

#background {
    background: url("/img/page_bg.png") no-repeat scroll center 40px #75495C;
}

#background-blue {
    background: url("/img/page_bg_blue.jpg") no-repeat #103352;
    z-index: -1;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
}

#header {
    background: none repeat scroll 0 0 #000000;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.6);
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.row {
    margin: 0 auto;
    max-width: 1170px;
    min-width: 735px;
    position: relative;
    width: 100%;
}

.eventlist {
  padding: 0px;
  margin: 0px;
}

#nav {
    padding-top: 60px;
    text-align: center;
}

#nav li {
    display: inline-block;
    padding: 35px 12px;
}

#nav li.disabled a {
    opacity: 0.25;
}
#nav li.disabled a:hover {
}
#nav li a.n-home {
    background-position: 9px 0;
}
#nav li a.n-home:hover, #nav li a.n-home.active {
    background-position: 9px -108px;
}
#nav li a.n-venue {
    background-position: -135px 0;
}
#nav li a.n-venue:hover, #nav li a.n-venue.active {
    background-position: -135px -108px;
}
#nav li a.n-agenda {
    background-position: -279px 0;
}
#nav li a.n-agenda:hover, #nav li a.n-agenda.active {
    background-position: -279px -108px;
}
#nav li a.n-sponsors {
    background-position: -1118px 0;
}
#nav li a.n-sponsors:hover, #nav li a.n-sponsors.active {
    background-position: -1118px -108px;
}
#nav li a.n-speakers {
    background-position: -423px 0;
}
#nav li a.n-speakers:hover, #nav li a.n-speakers.active {
    background-position: -423px -108px;
}
#nav li a.n-startups {
    background-position: -567px 0;
}
#nav li a.n-startups:hover, #nav li a.n-startups.active {
    background-position: -567px -108px;
}
#nav li a.n-hackathon {
    background-position: -711px 0;
}
#nav li a.n-hackathon:hover, #nav li a.n-hackathon.active {
    background-position: -711px -108px;
}
#nav li a.n-startupbattle {
    background-position: -855px 0;
}
#nav li a.n-startupbattle:hover, #nav li a.n-startupbattle.active {
    background-position: -855px -108px;
}

#nav li a.n-home:hover, #nav li a.n-home.active {
    background-position: 9px -108px;
}
#nav li a.n-home {
    background-position: 9px 0;
}
#nav li a {
    background: url("/img/nav-sprite-5.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 106px;
    text-indent: -9999px;
    width: 110px;
}

.toplogo {
  background: url("/img/maria-logo-grey.svg") no-repeat;
  background-size: 38px 28px;
}

.toplogo:hover {
  background: url("/img/maria-logo-white.svg") no-repeat;
  background-size: 38px 28px;
}

.bottomlogo {
  background: url("/img/maria-logo-grey.svg") no-repeat;
  background-size: 38px 28px;
  height: 50px;
  width: 100px;
  padding: 30px;
}

.bottomlogo:hover {
  background: url("/img/maria-logo.svg") no-repeat;
  background-size: 38px 28px;
}

.navbar {
  margin-bottom: 2px;
}

.navbar .brand {
  padding: 4px 100px 6px 44px;
  margin: 6px 0px 0px 0px;
}

small {
  font-size: 80%;
}

input#location {
	width: 540px;
}

.aptlist {
    cursor: pointer;
    padding: 16px;
    margin: 10px 0px;
    height: 60px;
    border-radius: 4px 4px 4px 4px;
    border: solid 1px #ccc;
}

.aptlist:hover {
    cursor: pointer;
    background-color: #eee;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.3);
}

.aptlist.selected {
    background-color: #eee;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.3);
}

.aptlist .title {
	  float: left;
    font-weight: bold;
    font-size: 1.0em;
}

.aptlist .location {
	  float: left;
    display: block;
    font-size: 0.8em;
    color: #777;
}

.aptlist .actions {
    display: block;
    width: 20px;
    font-size: 1.0em;
    float: left;
}

.right-fix {
  padding-right: 60px;
}

.aptlist.selected .location {
    color: black;
}

.appointmentdetail .location {
  font-size: 1.2em;
  display: block;
  clear: both;
  margin: 5px 0px 20px;
}

#proposalDate, #proposalTime {
  width: 140px;
}

/* Custom container */
.container {
  margin: 0 auto;
}

.container .homepage {
  background: #fff;
  z-index: 5;
}

.container > hr {
  margin: 60px 0;
}

.timepropitem {
  line-height: 30px;
}
/* Main marketing message and sign up button */
.jumbotron {
  margin: 40px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}

.jumbotron p {
  max-width: 960px;
  margin: 30px auto;
}


.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.footer {
	text-align: center;
	margin: 100px 0px;
	padding: 60px 0px;
	border-top: solid #ddd 1px;
}

.piechart {
  min-width: 300px; 
  min-height: 300px; 
  margin: 0 auto;
}

.homebox h3, .homeboxclean h3 {
  font-size: 190%;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.homebox p, .homeboxclean h3 {
  margin: 16px 0px;
}

.homeboxclean .svgwrap {
  width: 100%;
  text-align: center;
  padding: 0 0 20px 0;
  margin: auto;
}

.homeboxclean .svgwrap img {
  height: 100px;
}

.homebox a { display:block; cursor:pointer;
	background:#f6f6f6;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(249,249,249,1)), color-stop(100%, rgba(240,240,240,1)));
	background:-webkit-linear-gradient(top, rgba(249,249,249,1) 50%, rgba(240,240,240,1) 100%);
	background:   -moz-linear-gradient(top, rgba(249,249,249,1) 50%, rgba(240,240,240,1) 100%);
	background:    -ms-linear-gradient(top, rgba(249,249,249,1) 50%, rgba(240,240,240,1) 100%);
	background:     -o-linear-gradient(top, rgba(249,249,249,1) 50%, rgba(240,240,240,1) 100%);
	background:        linear-gradient(top, rgba(249,249,249,1) 50%, rgba(240,240,240,1) 100%);
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	        border-radius:5px;
	-webkit-box-shadow:0 -3px 1px rgba(255,255,255,.6), inset 0 2px 1px rgba(255,255,255,.97), 0 0 3px -1px rgba(0,0,0,.7);
	   -moz-box-shadow:0 -3px 1px rgba(255,255,255,.6), inset 0 2px 1px rgba(255,255,255,.97), 0 0 3px -1px rgba(0,0,0,.7);
	        box-shadow:0 -3px 1px rgba(255,255,255,.6), inset 0 2px 1px rgba(255,255,255,.97), 0 0 3px -1px rgba(0,0,0,.7);
}
.homebox a:nth-child(1n) { border-color:#fff; }
.homebox a:hover {
	background:#f0f0f0;
	background:-webkit-gradient(linear,left top, left bottom, color-stop(50%, rgba(249,249,249,1)), color-stop(100%, rgba(224,224,224,1)));
	background:-webkit-linear-gradient(top, rgba(249,249,249,1) 50%, rgba(224,224,224,1) 100%);
	background:   -moz-linear-gradient(top, rgba(249,249,249,1) 50%, rgba(224,224,224,1) 100%);
	background:    -ms-linear-gradient(top, rgba(249,249,249,1) 50%, rgba(224,224,224,1) 100%);
	background:     -o-linear-gradient(top, rgba(249,249,249,1) 50%, rgba(224,224,224,1) 100%);
	background:        linear-gradient(top, rgba(249,249,249,1) 50%, rgba(224,224,224,1) 100%);
}
.homebox .curve-down { display:inline-block; height:115px; width:100%; _display:inline; _zoom:1; border:1px solid #e0e0e0; border-top-color:#efefef; border-bottom-color:#ccc; }
.homebox .curve-down:nth-child(1n) { border:none;
	-webkit-border-radius:100% / 33px;
	   -moz-border-radius:100% / 33px;
	        border-radius:100% / 33px;
    -webkit-box-shadow:0 8px 3px -5px rgba(0,0,0,.2);
       -moz-box-shadow:0 8px 3px -5px rgba(0,0,0,.2);
            box-shadow:0 8px 3px -5px rgba(0,0,0,.2);
}
.homebox a img { display:block;
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	        border-radius:5px;
}

.hiddenWizardStepOne {
  height: 0px;
  background: url("/img/page_bg_blue.jpg") no-repeat 0 -260px #103352;
  position: relative;
  display: block;
  z-index: 0;
  display: block;
  clear:both;
  overflow: hidden;
  -webkit-transition: height 1000ms ease-in-out;
  -moz-transition: height 1000ms ease-in-out;
  -o-transition: height 1000ms ease-in-out;
  -ms-transition: height 1000ms ease-in-out;
  transition: height 1000ms ease-in-out;
}

.wizardPaneStepOne {
  height: 400px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
  color:#fff;
  
  -webkit-transition: opacity 2000ms ease-in-out;
  -moz-transition: opacity 2000ms ease-in-out;
  -o-transition: opacity 2000ms ease-in-out;
  -ms-transition: opacity 2000ms ease-in-out;
  transition: opacity 2000ms ease-in-out;
}





