.styledform {
  min-height: 290px;
}

input:required, textarea:required {
  background: #fff url(/img/red_asterisk.png) no-repeat 98% center;
}

.form_hint {
  background: #d45252;
  border-radius: 3px 3px 3px 3px;
  color: white;
  margin-left: 8px;
  padding: 1px 6px;
  z-index: 999; /* hints stay above all other elements */
  position: absolute; /* allows proper formatting if hint is two lines */
  display: none;
}

.form_hint::before {
  content: "\25C0"; /* left point triangle in escaped unicode */
  color:#d45252;
  position: absolute;
  top:1px;
  left:-6px;
}

.wizardPane {
  height: 0px;
  background: url("/img/page_bg_blue.jpg") no-repeat 0 -20px #103352;
  position: relative;
  display: block;
  z-index: 0;
  display: block;
  clear:both;
  overflow: hidden;
  -webkit-transition: height 1000ms ease-in-out, padding 1000ms ease-in-out;
  -moz-transition: height 1000ms ease-in-out, padding 1000ms ease-in-out;
  -o-transition: height 1000ms ease-in-out, padding 1000ms ease-in-out;
  -ms-transition: height 1000ms ease-in-out, padding 1000ms ease-in-out;
  transition: height 1000ms ease-in-out, padding 1000ms ease-in-out;
}

.wizardPaneStep {
  padding: 3%;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  #color:#fff;
  -webkit-transition: opacity 1000ms ease-in-out;
  -moz-transition: opacity 1000ms ease-in-out;
  -o-transition: opacity 1000ms ease-in-out;
  -ms-transition: opacity 1000ms ease-in-out;
  transition: opacity 1000ms ease-in-out;
}

#homewizzero, #homewizone, #homewiztwo, #homewizthree, #homewizfour, #homewizfive, #homewizsix  {
  height: 0px;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: height 500ms ease-in-out, opacity 500ms ease-in-out;
   -moz-transition: height 500ms ease-in-out, opacity 500ms ease-in-out;
   -o-transition: height 500ms ease-in-out, opacity 500ms ease-in-out;
   -ms-transition: height 500ms ease-in-out, opacity 500ms ease-in-out;
   transition: height 500ms ease-in-out, opacity 500ms ease-in-out;
}

#homewiztwo .row, #homewiztwo .span3, #homewizthree .row, #homewizthree .span3 {
  padding: 5px 0px;
}

#homewizthree .span3 {
  width: 340px;
  margin-left: 0px;
}


/* Home grid */

.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	box-shadow: 
		inset 0 0 0 0px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
		
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.ch-img-green { 
	background-image: url(/img/lovegrid/grid-green.jpg);
}

.ch-img-lime-green { 
	background-image: url(/img/lovegrid/grid-lime-green.jpg);
}

.ch-img-purple { 
	background-image: url(/img/lovegrid/grid-purple.jpg);
}

.ch-img-red { 
	background-image: url(/img/lovegrid/grid-red.jpg);
}

.ch-img-blue { 
	background-image: url(/img/lovegrid/grid-blue.jpg);
}

.ch-info {
	position: absolute;
	background: rgba(255,255,255, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	opacity: 1;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	
	-webkit-backface-visibility: hidden;

}

.ch-info-red {
  background: rgba(213,108,94, 0.9);
}

.ch-info-lime-green {
  background: rgba(131,140,55, 0.9);
}

.ch-info h3 {
	color: #999;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 30px 30px 0px;
	padding: 25px 0 10px 0;
	line-height: 32px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #aaa, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #999;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 1;
	-webkit-transition: all 0.4s ease-in-out 0.4s;
	-moz-transition: all 0.4s ease-in-out 0.4s;
	-o-transition: all 0.4s ease-in-out 0.4s;
	-ms-transition: all 0.4s ease-in-out 0.4s;
	transition: all 0.4s ease-in-out 0.4s;
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.ch-item:hover .ch-info p {
	opacity: 1;
}