<template name="attendeesDialog">
  <div class="modal fade" id="attendeesModal" tabindex="-1" role="dialog" aria-labelledby="timeProposalsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="timeProposalsModalLabel">Attendees</h4>
        </div>
        <div class="modal-body">

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}

          <form role="form">
            <div class="form-group">
              <label for="exampleInputEmail1">Full name</label>
              <input type="text" class="form-control" id="attendeeName" placeholder="e.g. Monica Johnson" required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Email</label>
              <input type="text" class="form-control" id="attendeeEmail" placeholder="e.g. monica@email.com" type="email" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="btnAddAttendee">Add Attendee</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
