<!-- Wizard: Step Zero -->
<template name="homewizzero">
  <!--
  <div id="homewizzero">
    
    <form name="homewizzero" class="styledform">
      <ul>
        <li>
          <h2>Step 0: Create an Event</h2>
          <span class="required_notification">* Denotes Required Field</span>
        </li>

        <li>
          <label for="txtTitle">Event Title:</label>
          <input class="input-xlarge" id="txtTitle" placeholder="Company Restructuring Meeting" required autofocus tabindex="100" value="{{wiztitle}}">
          <span class="form_hint">Enter event title</span>
        </li>
      
        <li>
          <label for="txtLocation">Location:</label>
          <input class="input-xlarge" id="txtLocation" placeholder="Initech Headquarters, Palo Alto, CA" required tabindex="105" value="{{wizlocation}}">
          <span class="form_hint">Enter event location or address</span>
        </li>
        
        <li>
          <label for="txtDescription">Description:</label>
          <textarea id="txtDescription" rows="4" class="input-xlarge" placeholder="Is this good for the company?" tabindex="110">{{wizdecription}}</textarea>
          <span class="form_hint">Enter a few words about the event</span>
        </li>
      </ul>
    </form>
    
    <a href="#" class="btn" id="cancel" tabindex="120">Cancel</a>
    <a href="#" class="btn btn-primary" id="next" tabindex="115">Next</a>
  </div> -->
</template>