<!-- Wizard: Step Six -->
<template name="homewizsix">
  <div id="homewizsix">

    <div class="panel panel-primary">

      <div class="panel-heading">
        <h4>Step 6: Pick a Winner</h4>
      </div>

      <div class="panel-body">
        <form role="form" name="homewizsix" class="styledform">

        </form>
      </div>

      <div class="panel-footer">
        <a href="#" class="btn btn-danger" id="cancel" tabindex="620">Cancel</a>
        <a href="#" class="btn btn-primary" id="prev" tabindex="615">Previous</a>
        <a href="#" class="btn btn-primary" id="next" tabindex="610">Next</a>
      </div>
    </div>
  </div>
</template>